.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}

mat-card {
  max-width: 500px;
  margin: 10em auto;
  text-align: center;
}

.box {
  -moz-box-shadow: 2px 4px 5px 2px #656565;
  -webkit-box-shadow: 2px 4px 5px 2px #656565;
  -o-box-shadow: 2px 4px 5px 2px #656565;
  box-shadow: 2px 4px 5px 2px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=153, Strength=5);
}

mat-form-field {
  display: block;
}
.pr-5{
  padding-right: 2em;
}
