/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*@import "~materialize-css/dist/css/materialize.min.css";*/
@import "~ngx-toastr/toastr.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.with-cadre {
  padding: 1em 3em 5em 3em;
}
